---
---

@charset "utf-8";

body{
  background-color: #1e1e1e;
  color: #FFF;
}
nav{

}
header{
  padding-top: 150px;
  text-align: center;
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/uploads/showroomedit.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h1{
    font-weight: bold;
  }
  p{
    font-weight: 100;
  }
}
.navbar-default {
  background-color: #1e1e1e;
  border: none;
}
.navbar{
  margin-bottom: 0px;
}
.navbar .navbar-nav {
  border-radius: 0;
  display: inline-block;
  float: none;
  vertical-align: top;
  li>a {
      color: #fff;
      &:hover{
        color: maroon;
      }
  }
}

.navbar .navbar-collapse {
  text-align: center;
}

.logo{
  max-width: 150px;
  width: 100%;
  height: 150px;
  padding: 10px;
  border: solid 5px #fff;
  border-radius: 100%;
}
section{
  text-align: center;
  h2{
    margin-top: 0px;
    padding: 60px 0 25px 0;
  }
  p{
    margin-bottom: 30px;
  }
}

.services{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/uploads/repeatingbg.jpg');
  background-size: contain;
  min-height: 400px;
  i{
    border-radius: 100%;
    border: solid 5px #fff;
    padding: 30px;
  }
}
.showroom{
  min-height: 360px;
  background-color: #fff;
  color: #000;
  p{
    text-align: left;
    padding: 0 50px;
  }
  .left-image{
    margin: 10px 0;
    width: 100%;
    height: 360px;
  }
  .left-col {
    padding-left: 0px;
  }
  .right-col{
    background-color: #eee;
    padding-right: 0px;
    height: 360px;
    margin-top: 10px;
  }
}
.accessories{
  min-height: 360px;
  background-color: #eee;
  color: #000;
}
.contact{
  padding: 35px 0;
  a{
    color: #fff;
    font-size: 20px;
  }
}
.line-break{
  height: 4px;
  width: 50px;
  background-color: #fff;
  margin: 20px auto;
}
