---
---

@charset "utf-8";

body{
  background-color: #1e1e1e;
  color: #FFF;
}
nav{

}
header{
  padding-top: 150px;
  text-align: center;
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/showroomedit.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  h1{
    font-weight: bold;
  }
  p{
    font-weight: 100;
  }
}
.navbar-default {
  background-color: #1e1e1e;
  border: none;
}
.navbar{
  margin-bottom: 0px;
}
.navbar .navbar-nav {
  border-radius: 0;
  display: inline-block;
  float: none;
  vertical-align: top;
  li>a {
      color: #fff;
      &:hover{
        background-color: #111;
        color: #fff;
        border-radius: 0 0 2px 2px;
      }
  }
}

.navbar .navbar-collapse {
  text-align: center;
}

.logo{
  max-width: 150px;
  width: 100%;
  height: 150px;
  padding: 10px;
  border: solid 5px #fff;
  border-radius: 100%;
}
section{
  text-align: center;
  h2{
    margin-top: 0px;
    padding: 60px 0 25px 0;
  }
  p{
    margin-bottom: 30px;
  }
}

.services{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/repeatingbg.jpg');
  background-size: contain;
  min-height: 400px;
  i{
    border-radius: 100%;
    border: solid 5px #fff;
    padding: 30px;
  }
}
.showroom{
  min-height: 360px;
  background-color: #fff;
  color: #000;
  p{
    text-align: left;
    padding: 0 50px;
  }
  .left-image{
    margin: 10px 0;
    width: 100%;
    height: 360px;
  }
  .left-col {
    padding-left: 0px;
  }
  .right-col{
    background-color: #eee;
    padding-right: 0px;
    height: 360px;
    margin-top: 10px;
  }
}
.accessories{
  min-height: 360px;
  background-color: #eee;
  color: #000;
  .line-break{
    background-color: #000;
  }
}
.contact{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/outside.png');
  background-attachment: fixed;
  background-size: cover;  text-align: left;
  padding: 35px 0;
  a{
    color: #fff;
    font-size: 20px;
  }
}
.brands-bar{
  background-color: maroon;
  padding-bottom: 25px;
  .brandlogobar{
    height: 250px;
    width:50%;
    float:left;
    background-color: #fff;
  }
  a{
    text-decoration: none;
    color: #fff;
    font-size: 1.25em;
  }
  a:hover{
    text-decoration: none;
    color: #eee;
  }
}
.line-break{
  height: 4px;
  width: 50px;
  background-color: #fff;
  margin: 30px auto;
}
.our-work{
  img{
    width: 100%;
    margin-bottom: 35px;
  }
}
.left-bleed-image{
  img{
  width:50%;
  float:left;
  }
}
.right-bleed-image{
  img{
  width:50%;
  float:right;
  }
}

.typesof{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/showroomedit.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 300px;
  color: #fff;
  h2{
    padding: 65px;
    margin-top: 0px;
    color: #fff;
  }
  h3{
    padding-top: 45px;
  }
}
.accessory-section img{
  height: 170px;
  width: 100%;
  text-align: center;
}

section.images .row{
  padding-top: 45px;
}
section.images{
  padding-bottom: 65px;
  h3{
    padding-top: 45px;

  }
}
section.main-services{
  background-color: #fff;
  color: #111;
  header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/shopbg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    color: #fff;
    padding-top: 60px;
    h2{
      padding: 65px;
      margin-top: 0px;
      color: #fff;
    }

  }
  h3{
    margin: 35px;
  }
  p{
    text-align: left;
  }
  .row{
    background-color: maroon;
    color: #fff;
  }
  img{
    width: 100%;
    margin: 45px;
  }
}
section.insurance{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/repeatingbg.jpg');
  background-size: auto;
  padding: 35px;
  h3{
    margin: 0px;
    padding:20px;
  }
}

section.about-us{
  header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/shopbg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: #fff;
    padding-top: 60px;
    h2{
      padding: 65px;
      margin-top: 0px;
      color: #fff;
    }
  }
  article.who-we-are{
    h2.proud-to-be{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../uploads/repeatingbg.jpg');
      background-size: auto;
      padding: 30px 0 30px 0;
    }
    h3{
      padding-top: 45px;
    }
    p{
      padding-left: 150px;
      padding-right: 150px;
    }
    .team-members{
      background-color: maroon;
      border-radius: 5px;

      img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin-bottom: 35px;
      }
      h2{
        padding: 30px 0 30px 0;

      }
      h3{
        padding-top: 25px;
      }
    }
  }
}
