<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">HOME</a></li>
          <li><a href="services.html">SERVICES</a></li>
          <li><a href="accessories.html">TRUCK ACCESSORIES</a></li>
          <li><a href="about.html">ABOUT US</a></li>
          <li><a href="#location">CONTACT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <section class="main-services">
    <header>
      <h2>
        {{ page.mainservices[0].heading }}
      </h2>
    </header>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <img src="{{ page.mainservices[3].image }}" alt="" />
        <img src="{{ page.mainservices[4].image }}" alt="" />

      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <h3>
          {{ page.mainservices[1].heading }}
        </h3>
        <div class="line-break"></div>
          <p>
            {{ page.mainservices[1].body }}
          </p>
        <h3>
          {{ page.mainservices[2].heading }}
        </h3>
        <div class="line-break"></div>
          <p>
            {{ page.mainservices[2].body }}
          </p>
        <h3>
          {{ page.mainservices[3].heading }}
        </h3>
        <div class="line-break"></div>
        <p>
          {{ page.mainservices[3].body }}
        </p>
      </div>
    </div>
  </div>
  </section>
  <section class="insurance">
    <img src="{{ page.insurance[0].image }}" alt="" />
    <h3>
      {{ page.insurances[0].heading }}
    </h3>
  </section>
  <section class="contact" id="location">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h2>WHERE TO FIND US</h2>
          <a href="https://www.google.com/maps?ll=41.749728,-86.250211&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=12685676194241721395">51165 IN-933, South Bend, IN 46637</a>
          <p><i class="fa fa-phone fa-2x" aria-hidden="true"></i><a href="tel:555-555-5555">  555-555-5555</a></p>
          <h4>Mon-Fri: 8:00am to 5:00pm | Sat-Sun: 8:00am to 1:00pm</h4>
        </div>
        <div class="col-sm-6 left-col">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.6608617705456!2d-86.25341912961014!3d41.74940738654767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8816d332040740bf%3A0xb00c93497d683433!2sLochmondy&#39;s+Auto+Body+%26+Truck+Accessories!5e0!3m2!1sen!2sus!4v1477498005007&z=1"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
