<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">HOME</a></li>
          <li><a href="services.html">SERVICES</a></li>
          <li><a href="accessories.html">TRUCK ACCESSORIES</a></li>
          <li><a href="about.html">ABOUT US</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <section class="main-services">
    <header>
      <h2>OUR SERVICES</h2>
    </header>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <img src="./uploads/truck1.jpg" alt="" />
        <img src="./uploads/truck3.jpg" alt="" />

      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <h3>Auto Body Work</h3>
        <div class="line-break"></div>

        <p>
          Get the custom look you crave with our paint and bodywork services. Repair, replace or renovate your vehicle for whatever your needs are.
          Mauris ullamcorper maximus diam, eu mattis nisi feugiat sit amet. Nam at diam odio. Donec pellentesque, lectus quis dictum hendrerit, nulla lectus tristique nisi, ac tincidunt nisl augue id nunc. Etiam et justo sem. Nam quis est dapibus, commodo ex eu, interdum velit. Praesent at fermentum dui, in tincidunt nibh. Nulla dapibus tincidunt blandit. Curabitur quis efficitur nisi. Donec vulputate velit velit, id vestibulum nulla lobortis ut. Nullam pulvinar leo malesuada mauris mollis, a feugiat nisi ultricies. Aenean non ex vitae massa luctus porta a eget elit.</p>
          <h3>Loaner Cars</h3>
          <div class="line-break"></div>

          <p>
            Pellentesque et luctus mauris. Nulla consectetur ornare odio consequat laoreet. Sed in magna eget sem aliquet viverra eu non nisl. Maecenas eget elit ullamcorper, porta orci at, auctor leo. Fusce luctus lectus nunc. Duis sed odio sed dolor consequat iaculis.
          </p>
        <h3>Sales</h3>
        <div class="line-break"></div>

        <p>
          Reworked exterior damaged vehicles and made them look brand new.
          Pellentesque et luctus mauris. Nulla consectetur ornare odio consequat laoreet. Sed in magna eget sem aliquet viverra eu non nisl. Maecenas eget elit ullamcorper, porta orci at, auctor leo. Fusce luctus lectus nunc. Duis sed odio sed dolor consequat iaculis.
        </p>
      </div>
    </div>
  </div>
  </section>
  <section class="insurance">
    <img src="./uploads/insurance.png" alt="" />
    <h3>We're Covered by Insurance Group</h3>
  </section>
  <section class="contact">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h2>WHERE TO FIND US</h2>
          <a href="https://www.google.com/maps?ll=41.749728,-86.250211&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=12685676194241721395">51165 IN-933, South Bend, IN 46637</a>
          <p><i class="fa fa-phone fa-2x" aria-hidden="true"></i><a href="tel:555-555-5555">  555-555-5555</a></p>
          <h4>Mon-Fri: 8:00am to 5:00pm | Sat-Sun: 8:00am to 1:00pm</h4>
        </div>
        <div class="col-sm-6 left-col">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.6608617705456!2d-86.25341912961014!3d41.74940738654767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8816d332040740bf%3A0xb00c93497d683433!2sLochmondy&#39;s+Auto+Body+%26+Truck+Accessories!5e0!3m2!1sen!2sus!4v1477498005007&z=1"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
